@grid-count: 12;
@default-font-size: 14px;
@gutter: 20px;

// Set up layout column according to width

.layout-column(@sidebar-width: 200px) {
    
    & > .sidebar{ width:@sidebar-width; }
    & > .content{ padding-left:@sidebar-width; }
    
    &.right{
        & > .sidebar{
            left:100%;
            margin-left:-@sidebar-width;
        }
        
        & > .content{
            padding-left:0;
            padding-right:@sidebar-width;
        }
    }
}

.box-sizing() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

////////////////////////////////////////////////

body,
html{
    height:100%;
    max-height:100%;
    max-width:100%;
    width:100%;
}

.grid,
.grid-layout{
    background:red;
    overflow:hidden;
    position:relative;
    width:100%;
    z-index:1;
    
    .box-sizing();
 }
 
 .grid{
    margin:0 0 @gutter 0;
    
    &.grid-pad{
        padding: @gutter 0 @gutter @gutter;
        
        & > [class*="col"]:last-of-type{
            padding-right:@gutter;
        }
    }
    
    &:after{
        content: "";
        display: table;
        clear: both;
    }
    
    & > [class*="col"]{
        background:gray;
        float:left;
        padding-right:@gutter;
        position:relative;
        vertical-align:top;

        .box-sizing();
                
        &:last-of-type{
            padding-right:0;
        }
    }
    
    & > .col1{ width:8.33%; }
    & > .col2{ width:16.66%; }
    & > .col3{ width:25%; }
    & > .col4{ width:33.33%; }
    & > .col5{ width:41.66%; }
    & > .col6{ width:50%; }
    & > .col7{ width:58.33%; }
    & > .col8{ width:66.66%; }
    & > .col9{ width:75%; }
    & > .col10{ width:83.33%; }
    & > .col11{ width:91.66%; }
    & > .col12{ width:100%; }
    
    // & > .col1{ width:round(100%/@grid-count*1, 2); }
    // & > .col2{ width:round(100%/@grid-count*2, 2); }
    // & > .col3{ width:round(100%/@grid-count*3, 2); }
    // & > .col4{ width:round(100%/@grid-count*4, 2); }
    // & > .col5{ width:round(100%/@grid-count*5, 2); }
    // & > .col6{ width:round(100%/@grid-count*6, 2); }
    // & > .col7{ width:round(100%/@grid-count*7, 2); }
    // & > .col8{ width:round(100%/@grid-count*8, 2); }
    // & > .col9{ width:round(100%/@grid-count*9, 2); }
    // & > .col10{ width:round(100%/@grid-count*10, 2); }
    // & > .col11{ width:round(100%/@grid-count*11, 2); }
    // & > .col12{ width:round(100%/@grid-count*12, 2); }
}

// Layout styles
.grid-layout{
    background:black;
    height:100%;
    overflow:hidden;
 }

.grid-layout{
    & > .sidebar,
    & > .content{
        height:100%;
        font-size:@default-font-size;
        left:0;
        overflow:auto;
        position:absolute;
        top:0;
        width:100%;
        
        .box-sizing();
    }
    
    &.split200{ .layout-column(200px); }
    &.split250{ .layout-column(250px); }
    &.split300{ .layout-column(300px); }
    &.split350{ .layout-column(350px); }
    &.split400{ .layout-column(400px); }
    &.split450{ .layout-column(450px); }
    &.split-half{ .layout-column(50%); }
    
    
    & > .sidebar{
        background:green;
        width:100%;
        z-index:2;
    }
    
    & > .content{
        background:yellow;
        z-index:1;
    }
}