body,
html {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}
.grid {
  overflow: hidden;
  width: 100%;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid {
  margin: 0 0 20px 0;
  position: relative;
}
.grid.grid-pad {
  padding: 20px 0 20px 20px;
}
.grid.grid-pad > [class*="col"]:last-of-type {
  padding-right: 20px;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid > [class*="col"] {
  float: left;
  padding-right: 20px;
  position: relative;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid > [class*="col"]:last-of-type {
  padding-right: 0;
}
.grid > .col1 {
  width: 8.33%;
}
.grid > .col2 {
  width: 16.66%;
}
.grid > .col3 {
  width: 25%;
}
.grid > .col4 {
  width: 33.33%;
}
.grid > .col5 {
  width: 41.66%;
}
.grid > .col6 {
  width: 50%;
}
.grid > .col7 {
  width: 58.33%;
}
.grid > .col8 {
  width: 66.66%;
}
.grid > .col9 {
  width: 75%;
}
.grid > .col10 {
  width: 83.33%;
}
.grid > .col11 {
  width: 91.66%;
}
.grid > .col12 {
  width: 100%;
}
/* Column styles */
.grid.columns {
  background: black;
  height: 100%;
  margin: 0;
}
.grid.columns > .bar,
.grid.columns > .content {
  height: 100%;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid.columns.split200 > .bar {
  width: 200px;
}
.grid.columns.split200 > .content {
  padding-left: 200px;
}
.grid.columns.split200.right > .bar {
  left: 100%;
  margin-left: -200px;
}
.grid.columns.split200.right > .content {
  padding-left: 0;
  padding-right: 200px;
}
.grid.columns.split250 > .bar {
  width: 250px;
}
.grid.columns.split250 > .content {
  padding-left: 250px;
}
.grid.columns.split250.right > .bar {
  left: 100%;
  margin-left: -250px;
}
.grid.columns.split250.right > .content {
  padding-left: 0;
  padding-right: 250px;
}
.grid.columns.split300 > .bar {
  width: 300px;
}
.grid.columns.split300 > .content {
  padding-left: 300px;
}
.grid.columns.split300.right > .bar {
  left: 100%;
  margin-left: -300px;
}
.grid.columns.split300.right > .content {
  padding-left: 0;
  padding-right: 300px;
}
.grid.columns.split350 > .bar {
  width: 350px;
}
.grid.columns.split350 > .content {
  padding-left: 350px;
}
.grid.columns.split350.right > .bar {
  left: 100%;
  margin-left: -350px;
}
.grid.columns.split350.right > .content {
  padding-left: 0;
  padding-right: 350px;
}
.grid.columns.split400 > .bar {
  width: 400px;
}
.grid.columns.split400 > .content {
  padding-left: 400px;
}
.grid.columns.split400.right > .bar {
  left: 100%;
  margin-left: -400px;
}
.grid.columns.split400.right > .content {
  padding-left: 0;
  padding-right: 400px;
}
.grid.columns.split450 > .bar {
  width: 450px;
}
.grid.columns.split450 > .content {
  padding-left: 450px;
}
.grid.columns.split450.right > .bar {
  left: 100%;
  margin-left: -450px;
}
.grid.columns.split450.right > .content {
  padding-left: 0;
  padding-right: 450px;
}
.grid.columns.split-half > .bar {
  width: 50%;
}
.grid.columns.split-half > .content {
  padding-left: 50%;
}
.grid.columns.split-half.right > .bar {
  left: 100%;
  margin-left: -50%;
}
.grid.columns.split-half.right > .content {
  padding-left: 0;
  padding-right: 50%;
}
.grid.columns > .bar {
  background: green;
  z-index: 2;
}
.grid.columns > .content {
  background: yellow;
  z-index: 1;
}
/* Row styles */
.grid.rows {
  background: black;
  height: 100%;
  margin: 0;
}
.grid.rows > .bar,
.grid.rows > .content {
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
}
.grid.rows.split50 > .bar {
  height: 50px;
  line-height: 50px;
}
.grid.rows.split50 > .content {
  height: -webkit-calc(100% - 50px);
  /* hack for safari 6 */

  height: calc(100% - 50px);
  top: 50px;
}
.grid.rows.split50.bottom > .bar {
  margin-top: -50px;
  top: 100%;
}
.grid.rows.split50.bottom > .content {
  height: -webkit-calc(100% - 50px);
  /* hack for safari 6 */

  height: calc(100% - 50px);
  top: 0;
}
.grid.rows.split60 > .bar {
  height: 60px;
  line-height: 60px;
}
.grid.rows.split60 > .content {
  height: -webkit-calc(100% - 60px);
  /* hack for safari 6 */

  height: calc(100% - 60px);
  top: 60px;
}
.grid.rows.split60.bottom > .bar {
  margin-top: -60px;
  top: 100%;
}
.grid.rows.split60.bottom > .content {
  height: -webkit-calc(100% - 60px);
  /* hack for safari 6 */

  height: calc(100% - 60px);
  top: 0;
}
.grid.rows.split70 > .bar {
  height: 70px;
  line-height: 70px;
}
.grid.rows.split70 > .content {
  height: -webkit-calc(100% - 70px);
  /* hack for safari 6 */

  height: calc(100% - 70px);
  top: 70px;
}
.grid.rows.split70.bottom > .bar {
  margin-top: -70px;
  top: 100%;
}
.grid.rows.split70.bottom > .content {
  height: -webkit-calc(100% - 70px);
  /* hack for safari 6 */

  height: calc(100% - 70px);
  top: 0;
}
.grid.rows.split80 > .bar {
  height: 80px;
  line-height: 80px;
}
.grid.rows.split80 > .content {
  height: -webkit-calc(100% - 80px);
  /* hack for safari 6 */

  height: calc(100% - 80px);
  top: 80px;
}
.grid.rows.split80.bottom > .bar {
  margin-top: -80px;
  top: 100%;
}
.grid.rows.split80.bottom > .content {
  height: -webkit-calc(100% - 80px);
  /* hack for safari 6 */

  height: calc(100% - 80px);
  top: 0;
}
.grid.rows.split90 > .bar {
  height: 90px;
  line-height: 90px;
}
.grid.rows.split90 > .content {
  height: -webkit-calc(100% - 90px);
  /* hack for safari 6 */

  height: calc(100% - 90px);
  top: 90px;
}
.grid.rows.split90.bottom > .bar {
  margin-top: -90px;
  top: 100%;
}
.grid.rows.split90.bottom > .content {
  height: -webkit-calc(100% - 90px);
  /* hack for safari 6 */

  height: calc(100% - 90px);
  top: 0;
}
.grid.rows.split100 > .bar {
  height: 100px;
  line-height: 100px;
}
.grid.rows.split100 > .content {
  height: -webkit-calc(100% - 100px);
  /* hack for safari 6 */

  height: calc(100% - 100px);
  top: 100px;
}
.grid.rows.split100.bottom > .bar {
  margin-top: -100px;
  top: 100%;
}
.grid.rows.split100.bottom > .content {
  height: -webkit-calc(100% - 100px);
  /* hack for safari 6 */

  height: calc(100% - 100px);
  top: 0;
}
.grid.rows > .bar {
  background: orange;
}
.grid.rows > .content {
  background: yellow;
}
