body,
html {
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}
.grid {
  overflow: hidden;
  width: 100%;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid {
  margin: 0 0 20px 0;
  position: relative;
}
.grid.grid-pad {
  padding: 20px 0 20px 20px;
}
.grid.grid-pad > [class*="col"]:last-of-type {
  padding-right: 20px;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid > [class*="col"] {
  float: left;
  padding-right: 20px;
  position: relative;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid > [class*="col"]:last-of-type {
  padding-right: 0;
}
.grid > .col1 {
  width: 8.33%;
}
.grid > .col2 {
  width: 16.66%;
}
.grid > .col3 {
  width: 25%;
}
.grid > .col4 {
  width: 33.33%;
}
.grid > .col5 {
  width: 41.66%;
}
.grid > .col6 {
  width: 50%;
}
.grid > .col7 {
  width: 58.33%;
}
.grid > .col8 {
  width: 66.66%;
}
.grid > .col9 {
  width: 75%;
}
.grid > .col10 {
  width: 83.33%;
}
.grid > .col11 {
  width: 91.66%;
}
.grid > .col12 {
  width: 100%;
}
.grid > .col-2-3 {
  width: 66.66%;
}
.grid > .col-1-3 {
  width: 33.33%;
}
.grid > .col-1-2 {
  width: 50%;
}
.grid > .col-1-4 {
  width: 25%;
}
.grid > .col-3-4 {
  width: 75%;
}
.grid > .col-1-5 {
  width: 20%;
}
.grid > .col-2-5 {
  width: 40%;
}
.grid > .col-3-5 {
  width: 60%;
}
.grid > .col-4-5 {
  width: 80%;
}
/* Column styles */
.grid.columns {
  height: 100%;
  margin: 0;
}
.grid.columns > .bar,
.grid.columns > .content {
  height: 100%;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.grid.columns.split50 > .bar {
  width: 50px;
}
.grid.columns.split50 > .content {
  padding-left: 50px;
}
.grid.columns.split50.right > .bar {
  left: 100%;
  margin-left: -50px;
}
.grid.columns.split50.right > .content {
  padding-left: 0;
  padding-right: 50px;
}
.grid.columns.split100 > .bar {
  width: 100px;
}
.grid.columns.split100 > .content {
  padding-left: 100px;
}
.grid.columns.split100.right > .bar {
  left: 100%;
  margin-left: -100px;
}
.grid.columns.split100.right > .content {
  padding-left: 0;
  padding-right: 100px;
}
.grid.columns.split150 > .bar {
  width: 150px;
}
.grid.columns.split150 > .content {
  padding-left: 150px;
}
.grid.columns.split150.right > .bar {
  left: 100%;
  margin-left: -150px;
}
.grid.columns.split150.right > .content {
  padding-left: 0;
  padding-right: 150px;
}
.grid.columns.split200 > .bar {
  width: 200px;
}
.grid.columns.split200 > .content {
  padding-left: 200px;
}
.grid.columns.split200.right > .bar {
  left: 100%;
  margin-left: -200px;
}
.grid.columns.split200.right > .content {
  padding-left: 0;
  padding-right: 200px;
}
.grid.columns.split225 > .bar {
  width: 225px;
}
.grid.columns.split225 > .content {
  padding-left: 225px;
}
.grid.columns.split225.right > .bar {
  left: 100%;
  margin-left: -225px;
}
.grid.columns.split225.right > .content {
  padding-left: 0;
  padding-right: 225px;
}
.grid.columns.split250 > .bar {
  width: 250px;
}
.grid.columns.split250 > .content {
  padding-left: 250px;
}
.grid.columns.split250.right > .bar {
  left: 100%;
  margin-left: -250px;
}
.grid.columns.split250.right > .content {
  padding-left: 0;
  padding-right: 250px;
}
.grid.columns.split275 > .bar {
  width: 275px;
}
.grid.columns.split275 > .content {
  padding-left: 275px;
}
.grid.columns.split275.right > .bar {
  left: 100%;
  margin-left: -275px;
}
.grid.columns.split275.right > .content {
  padding-left: 0;
  padding-right: 275px;
}
.grid.columns.split300 > .bar {
  width: 300px;
}
.grid.columns.split300 > .content {
  padding-left: 300px;
}
.grid.columns.split300.right > .bar {
  left: 100%;
  margin-left: -300px;
}
.grid.columns.split300.right > .content {
  padding-left: 0;
  padding-right: 300px;
}
.grid.columns.split325 > .bar {
  width: 325px;
}
.grid.columns.split325 > .content {
  padding-left: 325px;
}
.grid.columns.split325.right > .bar {
  left: 100%;
  margin-left: -325px;
}
.grid.columns.split325.right > .content {
  padding-left: 0;
  padding-right: 325px;
}
.grid.columns.split350 > .bar {
  width: 350px;
}
.grid.columns.split350 > .content {
  padding-left: 350px;
}
.grid.columns.split350.right > .bar {
  left: 100%;
  margin-left: -350px;
}
.grid.columns.split350.right > .content {
  padding-left: 0;
  padding-right: 350px;
}
.grid.columns.split375 > .bar {
  width: 375px;
}
.grid.columns.split375 > .content {
  padding-left: 375px;
}
.grid.columns.split375.right > .bar {
  left: 100%;
  margin-left: -375px;
}
.grid.columns.split375.right > .content {
  padding-left: 0;
  padding-right: 375px;
}
.grid.columns.split400 > .bar {
  width: 400px;
}
.grid.columns.split400 > .content {
  padding-left: 400px;
}
.grid.columns.split400.right > .bar {
  left: 100%;
  margin-left: -400px;
}
.grid.columns.split400.right > .content {
  padding-left: 0;
  padding-right: 400px;
}
.grid.columns > .bar {
  z-index: 2;
}
.grid.columns > .content {
  z-index: 1;
}
.grid.columns.collapse > .bar {
  width: 0;
}
.grid.columns.collapse > .content {
  padding-left: 0;
}
.grid.columns.right.collapse > .bar {
  margin-left: 0;
}
.grid.columns.right.collapse > .content {
  padding-right: 0;
}
/* Row styles */
.grid.rows {
  height: 100%;
  margin: 0;
}
.grid.rows > .bar,
.grid.rows > .content {
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
}
.grid.rows.split10 > .bar {
  height: 10px;
  line-height: 10px;
}
.grid.rows.split10 > .content {
  height: -webkit-calc(100% - 10px);
  /* hack for safari 6 */

  height: calc(100% - 10px);
  top: 10px;
}
.grid.rows.split10.bottom > .bar {
  margin-top: -10px;
  top: 100%;
}
.grid.rows.split10.bottom > .content {
  height: -webkit-calc(100% - 10px);
  /* hack for safari 6 */

  height: calc(100% - 10px);
  top: 0;
}
.grid.rows.split20 > .bar {
  height: 20px;
  line-height: 20px;
}
.grid.rows.split20 > .content {
  height: -webkit-calc(100% - 20px);
  /* hack for safari 6 */

  height: calc(100% - 20px);
  top: 20px;
}
.grid.rows.split20.bottom > .bar {
  margin-top: -20px;
  top: 100%;
}
.grid.rows.split20.bottom > .content {
  height: -webkit-calc(100% - 20px);
  /* hack for safari 6 */

  height: calc(100% - 20px);
  top: 0;
}
.grid.rows.split30 > .bar {
  height: 30px;
  line-height: 30px;
}
.grid.rows.split30 > .content {
  height: -webkit-calc(100% - 30px);
  /* hack for safari 6 */

  height: calc(100% - 30px);
  top: 30px;
}
.grid.rows.split30.bottom > .bar {
  margin-top: -30px;
  top: 100%;
}
.grid.rows.split30.bottom > .content {
  height: -webkit-calc(100% - 30px);
  /* hack for safari 6 */

  height: calc(100% - 30px);
  top: 0;
}
.grid.rows.split40 > .bar {
  height: 40px;
  line-height: 40px;
}
.grid.rows.split40 > .content {
  height: -webkit-calc(100% - 40px);
  /* hack for safari 6 */

  height: calc(100% - 40px);
  top: 40px;
}
.grid.rows.split40.bottom > .bar {
  margin-top: -40px;
  top: 100%;
}
.grid.rows.split40.bottom > .content {
  height: -webkit-calc(100% - 40px);
  /* hack for safari 6 */

  height: calc(100% - 40px);
  top: 0;
}
.grid.rows.split50 > .bar {
  height: 50px;
  line-height: 50px;
}
.grid.rows.split50 > .content {
  height: -webkit-calc(100% - 50px);
  /* hack for safari 6 */

  height: calc(100% - 50px);
  top: 50px;
}
.grid.rows.split50.bottom > .bar {
  margin-top: -50px;
  top: 100%;
}
.grid.rows.split50.bottom > .content {
  height: -webkit-calc(100% - 50px);
  /* hack for safari 6 */

  height: calc(100% - 50px);
  top: 0;
}
.grid.rows.split60 > .bar {
  height: 60px;
  line-height: 60px;
}
.grid.rows.split60 > .content {
  height: -webkit-calc(100% - 60px);
  /* hack for safari 6 */

  height: calc(100% - 60px);
  top: 60px;
}
.grid.rows.split60.bottom > .bar {
  margin-top: -60px;
  top: 100%;
}
.grid.rows.split60.bottom > .content {
  height: -webkit-calc(100% - 60px);
  /* hack for safari 6 */

  height: calc(100% - 60px);
  top: 0;
}
.grid.rows.split70 > .bar {
  height: 70px;
  line-height: 70px;
}
.grid.rows.split70 > .content {
  height: -webkit-calc(100% - 70px);
  /* hack for safari 6 */

  height: calc(100% - 70px);
  top: 70px;
}
.grid.rows.split70.bottom > .bar {
  margin-top: -70px;
  top: 100%;
}
.grid.rows.split70.bottom > .content {
  height: -webkit-calc(100% - 70px);
  /* hack for safari 6 */

  height: calc(100% - 70px);
  top: 0;
}
.grid.rows.split80 > .bar {
  height: 80px;
  line-height: 80px;
}
.grid.rows.split80 > .content {
  height: -webkit-calc(100% - 80px);
  /* hack for safari 6 */

  height: calc(100% - 80px);
  top: 80px;
}
.grid.rows.split80.bottom > .bar {
  margin-top: -80px;
  top: 100%;
}
.grid.rows.split80.bottom > .content {
  height: -webkit-calc(100% - 80px);
  /* hack for safari 6 */

  height: calc(100% - 80px);
  top: 0;
}
.grid.rows.split90 > .bar {
  height: 90px;
  line-height: 90px;
}
.grid.rows.split90 > .content {
  height: -webkit-calc(100% - 90px);
  /* hack for safari 6 */

  height: calc(100% - 90px);
  top: 90px;
}
.grid.rows.split90.bottom > .bar {
  margin-top: -90px;
  top: 100%;
}
.grid.rows.split90.bottom > .content {
  height: -webkit-calc(100% - 90px);
  /* hack for safari 6 */

  height: calc(100% - 90px);
  top: 0;
}
.grid.rows.split100 > .bar {
  height: 100px;
  line-height: 100px;
}
.grid.rows.split100 > .content {
  height: -webkit-calc(100% - 100px);
  /* hack for safari 6 */

  height: calc(100% - 100px);
  top: 100px;
}
.grid.rows.split100.bottom > .bar {
  margin-top: -100px;
  top: 100%;
}
.grid.rows.split100.bottom > .content {
  height: -webkit-calc(100% - 100px);
  /* hack for safari 6 */

  height: calc(100% - 100px);
  top: 0;
}
.grid.rows.split200 > .bar {
  height: 200px;
  line-height: 200px;
}
.grid.rows.split200 > .content {
  height: -webkit-calc(100% - 200px);
  /* hack for safari 6 */

  height: calc(100% - 200px);
  top: 200px;
}
.grid.rows.split200.bottom > .bar {
  margin-top: -200px;
  top: 100%;
}
.grid.rows.split200.bottom > .content {
  height: -webkit-calc(100% - 200px);
  /* hack for safari 6 */

  height: calc(100% - 200px);
  top: 0;
}
.grid.rows.split300 > .bar {
  height: 300px;
  line-height: 300px;
}
.grid.rows.split300 > .content {
  height: -webkit-calc(100% - 300px);
  /* hack for safari 6 */

  height: calc(100% - 300px);
  top: 300px;
}
.grid.rows.split300.bottom > .bar {
  margin-top: -300px;
  top: 100%;
}
.grid.rows.split300.bottom > .content {
  height: -webkit-calc(100% - 300px);
  /* hack for safari 6 */

  height: calc(100% - 300px);
  top: 0;
}
.grid.rows.collapse > .bar {
  height: 0;
}
.grid.rows.collapse > .content {
  height: 100%;
  top: 0;
}
.grid.rows.bottom.collapse > .bar {
  height: 0;
}
.grid.rows.bottom.collapse > .content {
  height: 100%;
}
